<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - ColorWeave</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    {% extends "base.html" %}

    {% block title %}Contact - ColorWeave{% endblock %}
    
    {% block content %}
    <header class="header contact-header">
        <div class="container">
            <h1>Contact Us</h1>
            <p>We’re Here to Help You 😊</p>
        </div>
    </header>
    <main class="main-content">
        <section class="contact-section">
            <div class="container">
                <h2>Get in Touch</h2>
                <p>📞 <strong>Phone:</strong> +62 852-5361-3537</p>
                <p>📍 <strong>Location:</strong> JRRM+2VG, Pondok Cina, Kecamatan Beji, Kota Depok, Jawa Barat 16424, Indonesia</p>
                <a href="https://maps.app.goo.gl/Vt5kwFsna5mQPAfs8" class="btn-view-map">📍 View on Google Maps</a>
                <p>📢 Jika ada yang ingin ditanyakan soal produk-produk kami, bisa hubungi nomor yang ada di atas ini. Saran dan kritik Anda sangat penting bagi kemajuan bisnis kami. 🙏</p>
            </div>
        </section>
    </main>
    {% endblock %}
    
    {% block footer %}
    <footer class="footer">
        <div class="container">
            <img src="{{ url_for('static', filename='BSI.png') }}" alt="Logo Universitas BSI" class="footer-image">
            <p>Website E-commerce Universitas Bina Sarana Informatika</p>
            <p>&copy; 2024 ColorWeave. All rights reserved.</p>
        </div>
    </footer>
    {% endblock %}
    
</body>
</html>

